[2015-07-31 15:47] goodtogood opened #1 "Is it possbile to performe ocr task using RNNSharp ?"
Hi there,

recently I wanna do some tests about sequence labelling(OCR without segment) via RNN

I googled and found this project , Thanks for your efforts

I have hundreds of handwritten word images and the corresponding word

Would you like to give me some instruction about this problem

any advice will be welcomeed. thanks in advance !

Best regards,

[2015-08-05 01:01] zhongkaifu commented on #1
Yes. RNN has good performance on OCR task, such as hand writing recognition. Generally, you need to segment handwritten word images at first, and then recognize each word in the image.

The feature selection is the key important part. You can design and combine your feature manually, and RNN can also help you to generate features automatically, such as embedding input pixels into vectors.

With re

[2015-08-05 05:17] BackT0TheFuture commented on #1
I'm a newbie on Machine Learning but very interested in it.
do you mean the segmentation is needed before ocr using RNN ?
I'm not good at c#, is there some document for RnnSharp ?
would you like to make a little ocr task demo using RNNSHARP when you are free?
Thanks !

Best regards,

[2016-01-07 16:13] mthmn20 opened #2 "GPU Training"
Hi, does this library support training on GPU?

[2016-01-07 20:26] zhongkaifu commented on #2
Currently, RNNSharp doesn't support training on GPU, but I do have a plan for that. :)

[2016-01-11 04:52] BackT0TheFuture commented on #2
Great to hear that. There's one project named "CUDAFY.NET", it allows easy development of high performance CUDA applications in C#.  (CUDAFY.NET)[http://cudafy.codeplex.com/] <_>

[2016-01-11 20:55] zhongkaifu commented on #2
Thanks for pointing out. I will look at CUDAFY.NET to see if we can use it.

[2016-02-11 18:04] bratao opened #3 "ArgumentOutOfRangeException during training"
Hello !

First of all, thank you for publishing such high quality project. It is the absolute state-of-art ! Thank you !!!

I was evaluating this in a small dataset, however I get this ArgumentOutOfRangeException.

The error is in SimpleRNN.cs, at this part:
[code]
This matrix, mat_feature2hidden, have the Height of 200, however the Width is 0.

The command:
`.\Bin\RNNSharpConsole.exe -mode train

[2016-02-11 21:57] bratao commented on #3
It was the missing word embedding !

[2016-02-11 21:57] #3 closed

[2016-02-11 22:05] bratao opened #4 "Poor performance in Sequential Tagging"
Hello !

Thanks again for this awesome project !

From my understanding, the performance for text sequential tagging should be equal or more than CRFSharp or CRF++ right ?
My problem is to semantic tag a big single, continuous text ( hundreds of pages).

In CRF++ I get a error token ratio of about 0.5%. In RNNSharp I can´t get it better than 40%. a gigantic different. I tried LSTM and BPTT with CR

[2016-02-11 23:48] zhongkaifu commented on #3
Thanks. RNNSharp should not crash, even word embedding feature is not used. I will fix it.

[2016-02-11 23:54] zhongkaifu commented on #4
Hi Bratao,

What's feature set did you use ? I suggest you to use both lexical features and dense features, such as word embedding. Could you please share your configuration file and command line with me ? I can look into it.

For CRFSharp and CRF++, both of them should have similiar performance. In addition, both of them are able to generate huge features according unigram and bigram feature temp

[2016-02-12 01:07] bratao commented on #4
Hi @zhongkaifu ,

Thank you for helping me. My objective is to segment a stream of text. I use B and I tags to identify the beginning and middle of sections that interest me.

For example, imagine that we have a string like this:

Id:01 - Zhang Wei x Joao da Silva
My objective is to extract the Id and persons, so a possible tagging is something like this:

[code]
I'm using a very simple feature se

[2016-02-12 01:18] zhongkaifu commented on #4
#1: How did you generate vector.bin for word embedding features ?

#2: I saw you are using U02:%x[0,1] in template. How many columns are you using in your training corpus "bruno-data.txt“ ? Can you share a few lines as example with me ?

#3: I suggest you trying these parameters at first.
.\Bin\RNNSharpConsole.exe -mode train -trainfile bruno-data.txt -modelfile .\bruno-model.bin -validfile bruno-

[2016-02-12 01:46] bratao commented on #4
@zhongkaifu ,

#1 - I generated a continuous text from my dataset (this is extracted from PDFs) and feed to Txt2Vec with this command:

The total corpus was from the input files. It is small, something like 1M of text.

#2 - It is like that:

[code]

If you want, I can send my complete corpus.

#3 - I still do not converge. It keeps like this:

[code]

[2016-02-12 01:55] zhongkaifu commented on #4
I think 1M file for word embedding training is not enough. You can try "Txt2VecConsole.exe -mode distance..." to verify the quality of vector.bin

Since word embedding training is totally unsupervised, you can try to use bigger corpus to train it.

[2016-02-12 02:13] bratao commented on #4
@zhongkaifu , Oh, thank you for clarifying this. I will try with a bigger corpus !

My understanding was that word embedding was just a extra set of features, and without it , it would compare to CRFSharp.

Thank you again so much for the help !!! I will report if I get any success !

[2016-02-12 04:56] thelemontree10 opened #5 "(Request) Make code more easy to use"
Hello zhongkaifu,

Your framework is very great but there are something I think you should chang a little to get your code more easy to use. Can you change your code in the way that it can receive directly a matrix, a jagged array as input, have a train and predict method like here ? (The example)

http://accord-framework.net/docs/html/T_Accord_MachineLearning_VectorMachines_MulticlassSupportVecto

[2016-02-12 07:54] zhongkaifu commented on #5
Thanks for your suggestion. I'm thinking about refactoring each neural network layer to abstract interface. If you have any idea about it, please let me know. Thanks.

[2016-02-16 05:09] bratao opened #6 "Not converging due to learning rate alpha"
Hello,
Testing RNNSharp I was unable to make the model converge. No matter what setting I used.
I changed two places and got the model to finally converge:

[code]
I changed it to break only after we tried to lower alpha 8 times and failed to get a improvement.

I also changed this fragment:
`rnn.LearningRate = rnn.LearningRate / 2.0f;`

To a decrease in a lower rate, in my case, 1.4.

Do any of t

[2016-02-16 05:51] zhongkaifu commented on #6
First of all, learning ratio (alpha) is an open question for researching. There are many papers related to this problem. Some dynamitic learning ratio may have better result. And sometimes, the learning ratio strategy may be related to your data set.

Secondly, as you mentioned, the result isn't converge, but I want to make sure which corpus did you mention ? training corpus or validated corpus ?

[2016-02-16 06:01] zhongkaifu commented on #6
In addition, I have fixed the RNNSharp crashing bug when word embedding feature isn't enabled for SimpleRNN. You can get it by syncing the latest code from code base.

[2016-02-16 12:39] bratao commented on #6
@zhongkaifu , I was testing the quality against a separated test corpus.

Yeah, I saw the latest commits, thank you so much !!
It is also working without word embedding in LSTM-RNN for me. ( LSTM-RNN is faster and produces better results than SimpleRNN in my case)

One commit said that it would support to train model without validated corpus. However I'm not getting good results with it. I get bet

[2016-02-16 16:13] zhongkaifu commented on #6
Yes. Validated corpus is usually required for training in order to get better hyper-parameters, but sometimes, we just use training corpus for some experiments. :)

[2016-02-24 07:54] bill3code opened #7 "Saving better model crash."
Hello.

info,20.02.2016 21:08:27 [TRACE] In training: log probability = -6539,9872918264
9, cross-entropy = 0,0073893168866162, perplexity = 1,00513502343797
info,20.02.2016 21:08:27
info,20.02.2016 21:08:27 Saving better model into file model.bin...
info,20.02.2016 21:08:27 Saving input2hidden weights...
info,20.02.2016 21:08:28 Saving matrix with VQ 256...
info,20.02.2016 21:10:28 Sorting data s

[2016-02-24 12:47] bill3code commented on #7
I'm not sure, but the problem seems to be in the method Split Cluster.

[2016-02-24 18:15] zhongkaifu commented on #7
Hi,

Yes, this is a bug in AdvUtils.dll. The values of data may be not balanced, so we call SplitCluster so deep, and then stack is overflow.

I have checked-in some new RNNSharp code, and disable model vector quantization by default, so far, this problem has been mitigated, and I will fix this problem in AdvUtils project.

I suggest you to use the latest RNNSharp or its demo package, since I have

[2016-02-24 18:48] bratao opened #8 "Crash in UpdateLearningRate"
Hello !

Testing this last commit, I get a crash in UpdateLearningRate

[code]

In LSTMRNN , Line 601 do this:
[code]

But in line 517 , it is initialized like :
`Hidden2OutputWeightLearningRate = new Matrix<float>(L2, L1);`

[2016-02-24 19:38] #4 closed

[2016-02-24 21:15] zhongkaifu commented on #8
Thanks, Bratao.
This line has a bug: double newLearningRate = UpdateLearningRate(Hidden2OutputWeightLearningRate, i, k, delta); at LSTMRNN.cs line #607.

It should be double newLearningRate = UpdateLearningRate(Hidden2OutputWeightLearningRate, k, i, delta);

You can modify it in your private build, I will fix it tonight.

Thanks
Zhongkai Fu

[2016-02-25 07:33] zhongkaifu commented on #8
The bug has been mitigated. Could you please try it again ?

[2016-02-25 08:00] bill3code commented on #7
Great!
Thanks for the support.

[2016-02-25 12:38] bratao commented on #8
@zhongkaifu , thank you !!! It's not crashing anymore.
However, compared to yesterday version, my LSTM do not converge anymore =(
Using RNN it gave me a crash. I created another issue reporting this bug.

[2016-02-25 12:43] bratao opened #9 "IndexOutOfRangeException when using RNN"
Hello again!
Using today's version ( 4fad1b6 ), It can't converge using LTSM compared to yesterday version, and give me a crash when using the RNN.

The invoked command line was:

`-mode train -trainfile wnnsharp-data-rsysyi.txt -modelfile rnnsharp.model -validfile wnnsharp-data-rsysyi.txt -ftrfile wnnsharp-config-qxnigh.txt -tagfile avaliable-tags.txt -modeltype 0 -layersize 50 -alpha 0.1 -crf 0

[2016-02-25 12:44] #6 closed

[2016-02-25 13:53] bratao commented on #9
With a debug build, the error is more descriptive

[code]

[2016-02-25 17:09] zhongkaifu commented on #8
@bratao , thanks for letting me know another problem.
I have reverted the previous change list, and checked-in LSTM crashing fix only along with a few of dynamic learning rate optimization. Could you please try it again ? Thanks in advance.

[2016-02-25 20:22] bratao commented on #8
It is working great !!! Thank you so much !!

[2016-02-25 20:22] #8 closed

[2016-02-26 03:59] zhongkaifu commented on #9
Thanks @bratao . This is a known bug, which is caused by non-alignment between data size (it's hidden layer size in your case) and SIMD registers in CPU. I will fix it by data alignment,

[2016-03-01 09:17] #7 closed

[2016-03-09 15:44] LiangYuzhi opened #10 "Example file"
Is there any runnable example? I've change the code a little bit and tried to run it, but the error rate is unreasonable high

[2016-03-09 16:35] zhongkaifu commented on #10
You can download demo package from release section. It contains runnable examples.

What's command line did you run ? What's change did you make ? And what's the error rate before your changes ?

[2016-03-09 19:52] bratao commented on #9
Hi @zhongkaifu  !!

This bug is showing up again after the latest set of commits =(

[2016-03-09 20:11] zhongkaifu commented on #9
Could you please show me the call stack or other information for debugging ? Is this the same call stack as before ?

[2016-03-09 20:23] bratao commented on #9
Sure,
One detail is that the training works now. The error in during the tagging.

In debug I just get this:

[code]

In Release I get this error:

[code]

[2016-03-09 22:06] zhongkaifu commented on #9
Thanks.

The second one should be right exception, however, I cannot repro it in my machine. From your call stack, the exception is from "LSTMCell cell_j = neuHidden[j]", and j was outside the bounds of neuHidden. Could you please set a break point there and see what was happen ?

[code]

[2016-03-09 22:47] bratao commented on #9
@zhongkaifu , Sorry, my mistake !!
In the recent build, there is a regression, as it is not saving the model anymore if you´re not using a validated corpus. So I was using an older model, generated by an older version.

Fixing it solved it !

[2016-03-09 23:27] zhongkaifu commented on #9
Thanks @bratao .
If validated corpus isn't provided, model should be saved when we get better result in training corpus. I will fix this problem.

[2016-03-10 05:04] LiangYuzhi commented on #10
Thank you for your timely reply:)

The description of the demo package is 'To get the demo package, please access [DOWNLOADS] page and download the package', what is the download link?

Basically, I have a set of character embedding generated by word2vec, and let it as input of RNNSharp to do some Chinese segment task. It's similar to the task in this paper: http://arxiv.org/pdf/1404.4714.pdf

I'v

[2016-03-10 10:33] bratao commented on #10
LiangYuzhi, could you try without a crf?

Here, I couldn't find a input that crf works. I have the impression that or
it is not working well, or it expect an specific input that I haven't
figured out.
On Mar 10, 2016 2:04 AM, "LiangYuzhi" notifications@github.com wrote:

[2016-03-10 16:31] zhongkaifu commented on #10
@LiangYuzhi  Sorry that I didn't update readme file in time, you can get demo package from "release" section. It contains some demo as your example.

Which modeltype did you use ? SimpleRNN or LSTM ?
Which your entire command line ? Could you please show some information from log ?

[2016-03-14 14:22] fangyw opened #11 "Choose when to stop the learning"
Hi, I am really impressed by your readable code. A simple question about the code which may not worth mention: I think it should stop the learning when the PPL on the development set are not increased any more or the increased error rate meets our requirement, rather than on the training set. If current ppl is larger than the previous one, we should increase the learning rate or make some other de

[2016-03-14 20:49] zhongkaifu commented on #11
@fangyw Yes, RNNSharp already supports such strategy, but we don't use it currently. If you want to enable this feature, you can check return value of "rnn.ValidateNet(ValidationSet, iter)". If it's false, it means we cannot get a better model on validated corpus, then we can update learning rate.

[2016-03-23 09:49] AxelUser opened #12 "Some kind of cold start"
Hi! Thank you for your lib, it look's really cool. But i've got problems in understanding some concepts and approaches. For example what for is feature templating? How does all those POS parameters means (i dont get the meaning of those abbreviations)
I want to test your tool with document classifications, what do i need to do in general? Or is there any tutorialt to start with?
Sorry if my questi

[2016-03-24 02:24] zhongkaifu commented on #12
Hi AxeUser,

Feature templating is the set of feature definition for feature extraction from corpus. It has two dimensions (x, y). X is for the context of current token, and Y is for the different feature dimensions. According feature templates, RNNSharp is able to extract features automatically. For more detailed information, please access README.md file.

For POS tags meaning, it's related to sp

[2016-04-08 04:00] #9 closed

[2016-04-08 04:11] bratao opened #13 "Crash during Tagging when using word embedding"
Hello again @zhongkaifu ,

Testing the latest version, after training, if I try to tag a file, I get the following crash:

Without WORDEMBEDDING_FILENAME , it works nice. The emmbed was created in Tex2Vec with the following command line:
`Txt2VecConsole.exe -mode train -trainfile corpus.txt -modelfile vector.bin -vocabfile vocab.txt -vector-size 200 -window 5 -min-count 1 -cbow 1 -threads 1 -iter

[2016-04-08 04:35] zhongkaifu commented on #13
Hi @bratao
From log, it seems word embedding context settings isn't loaded. could you please share configuration file ?

[2016-04-08 16:26] bratao commented on #13
My bad, you´re right. I forgot to use the context setting in tagging !

[2016-04-08 16:26] #13 closed

[2016-04-11 02:23] My-Khan opened #14 "An unhandled exception of type 'System.NotSupportedException' occurred in System.Numerics.Vectors.dll"
Hello, First i really appreciate your work. My programming skills in C# is not good therefore apology in advance if question seems to your good-self stupid.
when i copile the source i got the error in ModelSetting .cs
System.NotSupportedException was unhandled
  HResult=-2146233067
  Message=Vector<T>.Count cannot be called via reflection when intrinsics are enabled.
  Source=System.Numerics.Vecto

[2016-04-11 03:46] bratao commented on #14
Are you compiling it as "Debug" ?
It seems to be a known bug in Debug mode (https://social.msdn.microsoft.com/Forums/vstudio/en-US/fd0a9ecc-b122-4795-a0e0-1cb6dc7a1a4a/anyone-got-simd-working-in-vs2015-net-46?forum=csharpgeneral)

[2016-04-11 06:38] My-Khan commented on #14
Yes brataoi am compiling it in "Debug" mode

[2016-04-11 06:46] My-Khan commented on #14
@bratao i followed your mentioned link, where i found that it is still unsolved issue. am i right?

[2016-04-11 23:17] zhongkaifu commented on #14
@My-Khan  Did you try to run it "Release" mode ?
RNNSharp uses this Vector<T> lib to speed up encoding and decoding by SIMD instruction. As far as I know, if your CPU doesn't support AVX2 instruction, it will throw out an exception in "debug" mode.

I'm thinking about adding a compiling definition, such as _SUPPORT_SIMD_, for the machine that doesn't support AVX2, but currently, I'm focusing on de

[2016-04-12 06:07] My-Khan commented on #14
many thanks sir for your kind reply. Now as per your kind suggestions i run it in release mode and got the following error message.
An unhandled exception of type 'System.Exception' occurred in RNNSharp.dll

Additional information: The offset of run time feature should be negative.
screen shots of my error are below.

![image](https://cloud.githubusercontent.com/assets/17508897/14451196/885674ee-0

[2016-04-12 14:52] zhongkaifu commented on #14
Could you please share your configuration file ? It seems incorrect settings in real time feature.

[2016-04-12 18:17] My-Khan commented on #14
Sir, below is my configuration file contents
#Template Features
TFEATURE_FILENAME:tfeature
#Context Features
TFEATURE_CONTEXT:-2,-1,0,1,2
#The context range for word embedding. In below, the context is current token, previous token and next token
#The word embedding data file name generated by WSDSharp
WORDEMBEDDING_FILENAME:myvector
WORDEMBEDDING_CONTEXT: -1,0,1
#The column index applied word emb

[2016-04-12 19:38] zhongkaifu commented on #14
RTFEATURE_CONTEXT value should be negative( < 0), since RNNSharp uses previous tokens' outputs as run time features for current token.

In addition, this feature is only for forward neural network so far, bi-directional RNN doesn't support it.

[2016-04-12 20:25] My-Khan commented on #14
Well sir the previous issue resolved, but a new issue generated, please also look this one, thanks in advance. this time it does not recognize the mapping tags.
My training data is organized as, first column represent token,2nd column represents part of speech tag and last column represents label.
Below is the error message:
An unhandled exception of type 'System.DataMisalignedException' occurred

[2016-04-13 03:47] zhongkaifu commented on #14
The tag file format has been updated. Each line is one tag, so you could remove id from the file and then try it again.

[2016-04-13 05:59] My-Khan commented on #14
Well done sir, now it works.... one last query: i am still confused about validation file data.
what will be the validation file data?
1. are it is the same data  that is already exists in training file? OR
2. are it is the same data that will be used in testing phase?
3. are it is the totally separate portion of data that is neither used in training nor in testing, if Yes that what will be the pr

[2016-04-13 07:20] zhongkaifu commented on #14
Validation set is usually used to choose best hyper-parameter. It should not be mixed with either training corpus or test corpus. For entire training set, you could randomly sample 20% data as validation set in each iteration.

One suggestion: For other questions unrelated to title, it would be better to open a new thread about it.

[2016-04-13 07:28] My-Khan commented on #14
Many thanks for very clear answer.
i will try of my level best to follow your given suggestion in future.
Looking forward for your next  deep recurrent neural netowork for RNNSharp.

[2016-04-13 18:41] #14 closed

[2016-04-14 13:57] bratao opened #15 "Missing file (BPTTLayer.cs) for latest commit"
@zhongkaifu , You're awesome !! I'm very excited to lest the deep network.

However, in the latest commit, it reference the file BPTTLayer.cs. And I can't find this file in the actual git.

[2016-04-14 15:02] zhongkaifu commented on #15
@bratao  Thank you so much! I have added this file to git.

[2016-04-22 02:43] ppsunrise opened #16 "IndexOutOfRangeException"
Hi, Zhong! Thank you for your lib, your work looks really cool. I've successfully run the demo, but when I change my own corpus for NER, there some errors happen as follows:

---

  未经处理的异常:  System.IndexOutOfRangeException: 索引超出了数组界限。
  在 RNNSharp.RNN.ForwardBackward(Int32 numStates, Double[][] m_RawOutput)
  在 RNNSharp.RNN.learnSentenceForRNNCRF(Sequence pSequence)
  在 RNNSharp.RNN.TrainNet()

[2016-04-22 03:47] zhongkaifu commented on #16
No, we don't have limitation about it. Could you please share call stack information about this exception ? How long are your sentences ? For BPTT, we have mini-batch and the default value is 10. You can modify the value by setting bptt_block variable. For LSTM, currently, we don't have it yet.

[2016-04-22 06:39] ppsunrise commented on #16
Thank you for your quick response, and all information are as follow:

---

D:\RNNSharp>REM Build template feature set from training corpus

D:\RNNSharp>TFeatureBin.exe -mode build -template template.txt -inputfile KE-tra
in.txt -ftrfile tfeatures -minfreq 1
Loading feature template from template.txt...
Generate feature set...
Filter out features whose frequency is less than 1
100000...
D:\RNNShar

[2016-04-22 15:35] zhongkaifu commented on #16
@ppsunrise  Could you please host RNNSharp by Visual Studio and run your command line in debug mode ? If any exception happens, Visual Studio would show you which line throw out exception, and you could show these information to me.

[2016-04-23 13:06] ppsunrise commented on #16
I debugged and got the information as the pictures show:
![1](https://cloud.githubusercontent.com/assets/13269808/14761555/1a589e52-0997-11e6-8644-1c5cd208721c.PNG)
![2](https://cloud.githubusercontent.com/assets/13269808/14761557/21cb837a-0997-11e6-926a-571e4099cc9e.PNG)
![3](https://cloud.githubusercontent.com/assets/13269808/14761559/25eb393c-0997-11e6-9276-96711336ea66.PNG)
![4](https://cloud.

[2016-04-24 18:33] zhongkaifu commented on #16
In your third screenshot, can you please load RNNSharp.pdb which is a symbol file for debugging, and then we will know which exact line throw out exception.

[2016-04-25 06:42] My-Khan opened #17 "Possible combinations of various RNNs types"
Hello,
i am little bit confused about the various combinations of model types and possible direction e.g forward and bidirectional. i am new to RNN architecture so please guide urgently.
is the following combinations are valid ? if not then please explain little bit. thanks in advance.
With Single Hidden Layer e.g –layersize 200
Bi-Directional LSTM-RNN without CRF
Bi-Directional LSTM-RNN with CRF

[2016-04-25 15:06] zhongkaifu commented on #17
Yes, they are valid. You could set different parameter values to train them.

[2016-04-25 15:58] My-Khan commented on #17
Got it, many Thanks

[2016-04-26 22:28] trecius opened #19 "Help with Converting Spatio-Temporal Dataset for Consumption"
Hello,

I have a spatio-temporal dataset that I have compiled.  It's in a TSV format, and I'd like your RNNSharp to consume the input for classification as well as recognition.  My features are continuous values in the range [0, 1].  My TSV file looks like the following:

ID1    0.923    0.223    0.573    0.235    0.111
ID1    0.920    0.228    0.353    0.213    0.098
ID1    0.901    0.677    0.23

[2016-04-27 03:54] ppsunrise commented on #16
hi, zhong, Thank you for kind response! I copy my files to the path **RNNSharp\RNNSharpConsole\bin\Debug**, and then run RNNSharpConsole/Program.cs with parameter [-mode train -trainfile KE-train.txt -validfile KE-valid.txt -modeltype 1 -modelfile KE-model.bin -ftrfile features.txt -tagfile KE-tags.txt -layersize 100 -alpha 0.1 -crf 1 -maxiter 50 -savestep 200K > KE.trainout] and I got the followi

[2016-04-27 05:33] zhongkaifu commented on #19
For each time frame (one line in your training corpus), if it only contains 5 features, you could build embedding model likes. That means each time frame has its unique id.
ID1 0.923 0.223 0.573 0.235 0.111
ID2 0.920 0.228 0.353 0.213 0.098
ID3 0.901 0.677 0.235 0.551 0.121
...
ID2 0.920 0.228 0.353 0.213 0.098

I just updated RNNSharp to support embedding model in raw text format, so you could us

[2016-04-27 05:43] zhongkaifu commented on #16
The root cause of above exception is that your CPU SIMD register size is less than 256bit. This exception is not related to your first exception (IndexOutOfRangeException).

As I mentioned, your 4th screenshot points to the correct spot of the real IndexOutOfRangeException exception. In order to get corresponding code, you need to load RNNSharp.pdb file.

So, firstly, you need to run RNNSharp with

[2016-04-27 19:02] trecius commented on #19
Hello:

I'm getting closer.  I've since extracted all my time frames that I want to train the dataset into a single file: rawModel.txt.  It has the format:

<ID1>\t<F1>\t<F2>\t<F3>\t<F4>\t<F5>
<ID2>\t<F1>\t<F2>\t<F3>\t<F4>\t<F5>
...
<ID1056>\t<F1>\t<F2>\t<F3>\t<F4>\t<F5>

I've also created a train.txt file, and it is in the format:

<ID1>\t<Class Label>
<ID2>\t<Class Label>
<ID3>\t<Class Label>
..

[2016-04-27 20:28] zhongkaifu commented on #19
Since you are going to use continuous values as features, the template.txt should only keep one line: U01:%x[0,0]. All of other lines are used for discrete features only.

In training corpus, RNNSharp uses a blank line to split two entities, but embedding model (rawModel.txt in your example) needn't to use blank lines, since embedding model is just a key-value pair, RNNSharp access embedding model

[2016-04-29 04:55] dmit25 opened #20 "Nuget package"
Hi, Zhong!
Thank you for such an amazing tooling!

What do you think about publishing core libraries to Nuget. That would make life easier when it comes to updates and could be easily achieved by using free [appveyor](https://www.appveyor.com/) CI. I am talking about AdvUnits, Txt2Vec, CRFSharp, RNNSharp.

If you're interested, I can help you with it.

[2016-04-30 07:32] zhongkaifu commented on #20
@dmit25 That's a really good idea if these libs could be published to Nuget.

[2016-05-02 05:14] dmit25 commented on #20
@zhongkaifu What do you think about CI, and automatic deployment to Nuget?

[2016-05-02 20:07] zhongkaifu commented on #20
appveyor CI looks good. I have tried it last weekend, but didn't deploy it to Nuget successfully yet. I will look into it more.

[2016-05-04 18:48] #17 closed

[2016-05-04 19:19] #15 closed

[2016-05-25 05:24] My-Khan opened #21 "Supported Features"
Hello
Hope that you will be fine.
Can you briefly explain impact of each feature type specially the embedding feature and runtime feature on the final results of RNN compared to the traditional CRF which use only one feature type e.g. the template feature.
thanks in advance

[2016-05-25 22:12] zhongkaifu commented on #21
Template feature is sparse feature. If current token hits some features, only these features values become non-zero, however, other features values are zero.
Embedding feature is dense feature. each token can point to a vector and the value of this vector will be used as embedding feature.
Runtime feature uses the output of previous tokens as features for current token.

[2016-05-26 05:12] My-Khan commented on #21
Many thanks for details.

[2016-05-26 06:45] My-Khan opened #22 "Model structure"
Hello ,
Can i represent DRNN in the below structure for Named entity task. any suggestion for improvement will be highly appreciated. Also is it based on Elman Architecture which is described in (Kaisheng Yao et al.,2013) ?
![image](https://cloud.githubusercontent.com/assets/17508897/15565894/4f959d54-2337-11e6-9f5e-1b6c5b25c4ae.png)

[2016-05-26 15:26] zhongkaifu commented on #22
Yes. This is a basic RNN model structure: single recurrent hidden layer and forward model. It can be used for NER task. For more complicated model, you could try bi-directional model, deep recurrent hidden layer, different recurrent hidden type(BPTT, LSTM), CRF output and so on.

[2016-05-26 16:01] My-Khan commented on #22
many thanks for clarification.
also on the home page of RNNShrap the model structure given their for deep bi-directional RNN-CRF network all the three hidden layer are labeled Hidden layer #1, Hidden layer #1 ,Hidden layer #1  . is this the typing mistake? or its real.

also the equation used from computation is this one
h(t)=σ(U.x(t)+W.h(t-1) ),             t=1….T    and
y(t)=g(Vh(t))

if yes
the

[2016-05-26 16:50] zhongkaifu commented on #22
Thanks for pointing out. It's a typo. They should be "Hidden layer #1", "Hidden layer #2", "Hidden layer #3". I will fix it.

g(Vh(t)) is the function to calcuate y(t) by using the output of hidden layer and weights between hidden layer and y.

[2016-05-26 18:38] My-Khan commented on #22
Many thanks.
can i use your diagrams in my paper with reference?

[2016-05-26 19:32] zhongkaifu commented on #22
Sure. I'm glad these diagrams is helpful for your paper.

[2016-05-26 19:39] My-Khan commented on #22
so nice of you

[2016-05-29 19:02] zhongkaifu commented on #22
Fixed it. Thanks for your pointing it out.

[2016-05-29 19:16] My-Khan commented on #22
Appreciated , Is in future there is chance of implementation of Skip-Chain CRF in C# from you?

[2016-05-29 20:04] zhongkaifu commented on #22
Maybe, but currently, I have no plan about it.

[2016-05-30 03:23] Bilgeyar opened #23 "OutofMemoryException"
Thanks for this greet job!
I have got a problem when i start to use the new version( I used the old version on codeplex before)
it throws outofmemory exception when I used old version text2vec tool generated vector.bin file.if there are a way to convert it to new version.

WordEMWrapFeaturizer funcion
model.LoadBinaryModel(filename);
i found that there is no
 bw.Write(0);//no VQ
 in the old versio

[2016-05-30 04:24] zhongkaifu commented on #23
Yes, model format was changed for VQ which can reduce model size significantly, so Txt2Vec model is not compatible with the previous one.
To avoid retraining word_vector.bin, you could revert Txt2Vec model load code (model.LoadBinaryModl(...)), and still use the previous version without VQ. And then compile RNNSharp by using modified Txt2Vec.dll, then it should work.

[2016-05-30 05:24] My-Khan commented on #22
Ok thanks for kind reponse

[2016-05-30 05:28] My-Khan opened #24 "Gazetteer list as a feature"
Though RNN support the word embedding feature which is very plus point of RNN compared to the competitor CRF. is RNN have the capability to support external Gazetteer list and dictionaries as feature?

[2016-05-30 05:45] zhongkaifu commented on #24
Yes. RNNSharp supports it. It's called TFeature (template feature). README file describes how it work and how to use it in details.

[2016-05-30 08:02] My-Khan commented on #24
Thanks for prompt reply,  i read the mentioned source but i am still confused. Actually besides the training data i have a separate text file which contain Countries name stored in text file. so how this separate file can be used as feature along with training data for learning through RNNShrap.
e.g my training file named "mytrain" contains data in following format.
کو      PSP   NOR
بھارت   PNN

[2016-05-30 16:49] zhongkaifu commented on #24
You could read [Template Features] section in README file. It has an example about how to use template features. In RNNSharp, template features are binarized by TFatureBin.exe, and then RNNSharp uses it.

[2016-05-31 05:17] My-Khan commented on #24
apology in advance. still not clear, perhaps i am not explaining my problem well. i have no problem with template feature i can generate it easily by using the TFeatureBin.exe . following are the steps which i follow:
For template feature generation from the following data stored in file named "mytrain.txt" i use TFatureBin.exe build mode.

!           PUN S
Tokyo   NNP S_LOCATION
and        CC

[2016-05-31 13:14] bratao commented on #24
@My-Khan , You need to create a script yourself for injecting this kind of feature in your "mytrain.txt"

[2016-05-31 15:38] My-Khan commented on #24
@bratao Many thanks for guidance..Hmmmm , now this become nutshell for me. if some body can help?

[2016-07-09 17:38] bzaar commented on #12
Hi Zhong, I agree with AxelUser that a working example would make things a whole lot easier and bring your library more adopters. Would you mind adding an example corpus.txt file and a train-test.bat file containing the commands to train a model on the given corpus and produce the features for a test.txt file? Maybe add all three files to a folder called Example so they are easy to find? Many than

[2016-07-09 17:55] bzaar commented on #10
@zhongkaifu I couldn't find a "release" section in this repository. +1 for adding an example file.

[2016-07-11 23:27] zhongkaifu commented on #12
Hi bzaar,

You could get demo and example there: https://github.com/zhongkaifu/RNNSharp/releases
Sure, I will add examples along with code in next code updating.

[2016-07-11 23:27] zhongkaifu commented on #10
Hi bzaar,
You could get demo and example there: https://github.com/zhongkaifu/RNNSharp/releases

[2016-07-14 11:46] lbarwick opened #25 "Older version?"
Hi,

Do you have a version available for VS2010 and .NET 4.0?

[2016-07-14 13:31] zhongkaifu commented on #25
Sorry that RNNSharp doesn't support .NET 4.0, since some features, such as SIMD, are not available in the version lower than .NET 4.6.

If you want to use RNNSharp on .NET 4.0, you need to remove those features required higher .NET version, or re-implement them by your owned code.

[2016-07-15 08:40] lbarwick commented on #25
I there a particular ".cs" that I could change for just LSTM? Or is the project all inter-linked?

Lawrence
Date: Thu, 14 Jul 2016 06:31:25 -0700
From: notifications@github.com
To: RNNSharp@noreply.github.com
CC: barwickhome@hotmail.com; author@noreply.github.com
Subject: Re: [zhongkaifu/RNNSharp] Older version? (#25)

Sorry that RNNSharp doesn't support .NET 4.0, since some features, such as SIMD

[2016-07-15 15:46] zhongkaifu commented on #25
You need to change all files if necessary, otherwise, build will fail. If you really want to use it in .NET 4.0, there are two things you need to update:
#1. Update "Parallel.For" to "for" statement and "Parallel.Foreach" to "foreach"
#2. Replace SIMD code with "for/foreach"

Both of above two things are related to encode/decode speeding up.

[2016-07-18 14:24] lbarwick commented on #25
Hi,

Have you ever tried to apply LSTM to stock prediction?

I am looking into this, but am wondering how to Sequence the input data.

The basic data element I have is the stock price. SO I have created an array of log(Stock Price changes) which I call "Returns".

Do you think I should feed the LSTM with Input of "Last Return" and target output of "Next Return". i.e a single input value and a sing

[2016-10-03 13:45] LiangYuzhi commented on #10
The error rate problem might be caused by my training set, this issue can be closed. Thanks

[2016-10-03 13:45] #10 closed

[2016-10-04 09:55] My-Khan opened #26 "Impact of run-time feature"
Hello Sir,
hope you will be fine
Would you please like to let me know the impact of run-time features on results, simply why we use run-time features?

[2016-10-04 18:03] zhongkaifu commented on #26
Run-time features means RNNSharp uses the previous token's output (T-1) as feature for current token (T). Currently, this feature is only enabled for forward RNN, but not b-directional RNN.

[2016-10-08 08:43] My-Khan commented on #26
Many thanks sir, but sir still confused,
Actually whats the logic behind its usage? SIMPLY why run-time features are being considered?

[2016-10-08 20:13] zhongkaifu commented on #26
The idea of run-time feature is to provide previous output token as feature to current token. It extends feature we have.

[2016-10-09 04:46] My-Khan commented on #26
ok sir got it

[2016-10-09 04:46] #26 closed

[2016-11-28 02:21] Bilgeyar opened #27 "LSTM RNN"
when i training a pos tagger using RNN,CRF,RNN+CRF,LSTM+CRF,the result is very good, but LSTM is not better than others,I have same training, development and test corpus, what is my problem?

[2016-11-29 16:31] zhongkaifu commented on #27
Thanks @Bilgeyar  for pointing it out. It's a bug when computing output layer in forward pass. I will fix it today. Once's the fixing is checked-in, I will update this thread.

[2016-11-30 06:31] zhongkaifu commented on #27
The fixing has already been checked-in. You can check-out the latest source code and compile it.

[2016-12-09 02:29] Yandychang1 opened #28 "Plan to Use LSTM for Time Series"
I would like to use the LSTM for sequence prediction, I enter a series of numbers, and the network, outputs what number is more likely to come next, with a percent probability. Is this possible with this library? would you have a tutorial/ example  on how could something similar be achieved?

[2016-12-18 22:06] zhongkaifu commented on #28
Hi @Yandychang1,

Yes, RNNSharp supports LSTM for sequence prediction. The task you mentioned likes language model task, and RNNSharp definitely support this kind of task.

The latest code already supports it. For tutorial/example,  I'm still working on it, once it's finished, I will release it here. In new demo package, besides existing sequence-label task demos, I will add a new sequence-to-sequ

[2017-02-08 16:52] bill3code opened #30 "Need Help With PRETRAIN_TYPE=Autoencoder"
Hello!
You wrote:
"You need to train an auto encoder-decoder model by RNNSharp at first, and then use this pretrained model for your task"

But I do not see how to do it.
Finaly what do you mean by "pretrained model is trained by RNNSharp itself"?

[2017-02-08 17:24] zhongkaifu commented on #30
Hi @bill3code ,

The previous description may nit clearly, so I updated it to:

\#For 'Autoencoder', the pretrained model is trained by RNNSharp itself.  For sequence-to-sequence task, "Autoencoder" is required, since source sequence needs to be encoded by this model at first, and then target sequence would be generated by decoder.  

So, it means that you need to run RNNSharp to build autoencoder

[2017-02-09 07:11] bill3code commented on #30
Thank you!

[2017-02-09 07:11] #30 closed

[2017-02-14 09:53] bill3code opened #31 "Null reference exception with ForwardRNN"
Hello!
When I try to run RNNSharpConsole with the parameters:

MODEL_TYPE = SEQLABEL

MODEL_DIRECTION = Forward

it throws exception "NullReferenceException"

220 line of code `er += srcvec[j] * srcmatrix[j][i];`
file RNNHelpers.cs

I tried to solve it, but I could not understand, why DenseWeights are not initialized.

''Необработанное исключение: System.AggregateException: Произошла одна или неск

[2017-02-14 19:09] zhongkaifu commented on #31
Hi @bill3code

According call stack, RNN-CRF and dropout layer are applied for your training. In dropout layer, weights are shared with other layers. Could you please share complete configuration file with me ? I will try to repro it on my machine. To unblock your training, you can remove dropout layer from your configuration file before the issue is fixed.

[2017-02-15 08:21] bill3code commented on #31
Hello!
Thank you for workaround.
It's my full config:

CURRENT_DIRECTORY = .\model1cfg

MODEL_TYPE = SEQLABEL

MODEL_DIRECTION = Forward

MODEL_FILEPATH = model.bin

HIDDEN_LAYER = LSTM:200, Dropout:0.3, LSTM:100

OUTPUT_LAYER = Simple

CRF_LAYER = True

TFEATURE_FILENAME = tfeatures

#Binary and Freq are supported
TFEATURE_WEIGHT_TYPE = Freq

TFEATURE_CONTEXT = 0,1,2

PRETRAIN_TYPE = Embedding

W

[2017-02-15 14:56] bill3code opened #32 "Incremental training"
Hello!
You do a great job!
Is it possible to make incremental training?

[2017-02-15 17:50] zhongkaifu commented on #32
Currently, RNNSharp doesn't support incremental training, but this is a easy feature to be added. I will implement it very soon.

[2017-02-16 16:03] bill3code commented on #32
That's great!
Thank you very much!

[2017-02-19 18:47] zhongkaifu commented on #32
This check has already been checked-in. You can try it now.

[2017-02-19 18:47] #32 closed

[2017-02-19 18:48] zhongkaifu commented on #31
This problem has already been fixed. You can use Dropout layer for forward-RNN now.

[2017-02-19 18:48] #31 closed

[2017-03-20 12:13] bill3code opened #33 "imncremental training NullReferenceException after last update"
Hello!
After the last update, I get this error:

`Необработанное` исключение: System.AggregateException: Произошла одна или несколько ошибок. ---> System.NullReferenceException: Ссылка на объект не указывает на экземпляр объекта.
   в RNNSharp.SimpleLayer.BackwardPass() в C:\Users\vanin\Documents\GitHub\RNNSharp\RNNSharp\Layers\SimpleLayer.cs:строка 288
   в RNNSharp.Networks.ForwardRNN`1.ProcessS

[2017-03-20 12:15] bill3code commented on #33
This happens after 47 iterations...

[2017-03-21 03:12] zhongkaifu commented on #33
Hi @bill3code ,

Thanks for letting me know this issue. I have already fixed it. Please sync the latest code.

In addition, the content of configuration file has been updated, please refresh your configuration file according examples in home page.

[2017-03-21 17:25] #33 closed

[2017-03-21 17:26] #28 closed

[2017-03-21 17:26] #27 closed

[2017-03-21 17:27] #16 closed

[2017-03-21 17:28] #21 closed

[2017-03-21 17:30] #1 closed

[2017-03-22 02:29] #23 closed

[2017-04-21 23:59] andy-soft opened #34 "Training takes too long!!"
Hello, I was wondering what are the training times for the demonstrations.
I just tried the english seq labeler, and it took 1 hour to process 10% of the corpus! (is this normal?)
It's known Deep Learning is CPU hungry, I have only 2 cores and 8GB RAM (sorry)
¿do I need to change the PC) or acquire a CUDA core to help computing?
¿Is there a way to stop learning manually, or programmatically after

[2017-04-22 00:22] zhongkaifu commented on #34
Hi @andy-soft,

For your labeling task, how many categories do you want to label ? Could you please share the configuration file your are using with me ? Then I will estimate if current performance is reasonable. Currently, RNNSharp doesn't support GPU training. It supports CPU training with SIMD instruction only, so you need to have a powerful CPU with new SIMD instruction set, such as AVX, AVX2

[2017-04-22 02:17] andy-soft commented on #34
Hello, thanks for the reply.

Actually I was only testing the labels on the english NER labels (I think
there are only 5-6 entity types, and with the BIO labels there are at most
12-15 labels). My Level of classification is about the same, may be at most
20 total labels. (B I O S, with 10-15 entity types)
the problem is the many labels of each word, the variability is huge, more
than 900 different

[2017-04-22 03:45] zhongkaifu commented on #34
It's really appreciated if you could make contribution for RNNSharp. :)

For word2vec, you can try my version: https://github.com/zhongkaifu/Txt2Vec It has higher performance than original word2vec and supports incremental training.

For "the problem is the many labels of each word, the variability is huge, more
than 900 different POS labels, (EAGLES 2 version)", could you please make a specified

[2017-04-22 15:08] #2 closed

[2017-04-22 20:40] andy-soft commented on #34
Hi Zhongkai

I tried your txt2vector version, and the performance of yours is similar
(even slightly less) than word2vec (a C# port I've modified) the Threaded
part and the logger may slow down the system, even the double[] vector
calculus makes it a bit slower, I guess.
I will send you my modified version, I have made some optimizations
manually inside the code (well commented)

The 900 Label pro

[2017-04-22 22:26] zhongkaifu commented on #34
Hi Andrés,

Thanks for your explanation in details. It's really helpful.
For your task, to improve performance and reduce the number of output categories, you could try sub-word level segmentation and labeling or character level segmentation and labeling. As the example you mentioned in above "hiperrecontrabuenísimo", if you have sub-word dictionary for training, you could build training corpus li

[2017-04-22 23:00] zhongkaifu commented on #34
In addition, did you try the latest RNNSharp code (check out from master branch) ? It's much faster than the released version, since I have not updated release package yet.

[2017-04-22 23:03] zhongkaifu commented on #25
I don't think it's good for stock price prediction, but you could try to predict behaviors, such as "Buy", "Hold" and "Sell".

[2017-04-22 23:03] #25 closed

[2017-04-22 23:03] #22 closed

[2017-04-22 23:38] andy-soft commented on #34
No, I'll try tomorrow,
thanks
I am still trying to understand all you told me,
but too tired now!
Until tomorrow!

On Sat, Apr 22, 2017 at 8:00 PM, Zhongkai Fu <notifications@github.com>
wrote:

--
ing. Andrés T. Hohendahl
director
PandoraBox
www.pandorabox.com.ar
web.fi.uba.ar/~ahohenda

[2017-05-29 21:05] gabrielkotev opened #35 "Using the library from .Net Core"
I am struggling porting the library to .Net core.
Is there something to keep in mind while doing so (adding some dependencies, etc )?
Thanks for the help!

[2017-05-29 21:46] zhongkaifu commented on #35
Hi @gabrielkotev

The only external dependency is System.Vectors for SIMD instruction. Actually, this lib is a part of .Net core, so it won't be a problem for your migration.

But I know some APIs maybe different between .Net framework and .Net Core, such as Stream classes, you may modify some code for it, but I think it's very easy to deal with them.

Thanks
Zhongkai Fu

[2017-05-30 18:55] gabrielkotev commented on #35
Hi @zhongkaifu
Thanks for the quick answer!
I have an compile issue inside the **AdvUtils**, the reason is the class **ParallelOptions**.
Do you have any suggestions how to overcome it ?
Thanks for your help!

[2017-05-30 19:35] zhongkaifu commented on #35
AdvUtils is an open source project as well, you can modify it as your needs.
For ParallelOptions, currently, I set its value explicitly, but you can delete it and let it use default value.

[2017-05-31 18:05] andy-soft commented on #34
I am training a NER for spanish, with a small corpus 8k tokens, and it
takes too long, adn got stuck, Token error rate don't lowers, less than 9%

info,31/5/2017 3:02:41 p. m. Progress = 8K/8,323K
info,31/5/2017 3:02:41 p. m.  Train cross-entropy = 0,320236720036713
info,31/5/2017 3:02:41 p. m.  Error token ratio = 7,50999862854771%
info,31/5/2017 3:02:41 p. m.  Error sentence ratio = 64,183022877

[2017-05-31 18:20] zhongkaifu commented on #34
According RNN output lines, you are still using older RNNSharp, please sync the latest source code (not released demo package, since I have not updated it yet), build it and train your model.

It's okay you can send training example, configuration file and command line you ran to me.

[2017-06-01 18:49] andy-soft commented on #34
Thanks Zhonkaifu

I'll download the latest and build them ASAP, & tell you the result

Also I saw some of my mistakes:

I missed an absolute reference on the configuration files, pointing towards
the english version "xxx_enu" and I need to train a text2vec , now I
replaced it as:

WORDEMBEDDING_FILENAME = D:\RNNSharpDemoPackage\WordEmbedding\wordvec_es.bin

And I am going to generate a embedding f

[2017-06-02 18:21] andy-soft commented on #34
Hi, now I am training on real words, with new routines (just downloaded)

I trained a Spanish corpus of 380 megabytes of raw text, using your
text2vec and created the *.bin for the training, then redirected all the
documents in the configuration, corrected the files with the new syntax, on
the github, and started to train it, but it is still running fo over 1 day,

¿when should it stop?

¿is it no

[2017-06-02 19:43] zhongkaifu commented on #34
First of all, your CPU has only two cores, this is the main reason why training is slowly.

Secondly, I don't know if your CPU support AVX and AVX2 instructions which is for SIMD to speed up training. You could show a few of first log lines with me, and I will take a look.

Finally, you could set TFEATURE_CONTEXT=0 to reduce the number of sparse features to speed up training.

[2017-06-02 20:48] andy-soft commented on #34
It just ended running, I'll attach the log file (compete)

My CPU is a G2020, here is the FULL Spec:
[image: Inline image 1]

I will probably make a FROM application to control the training-run
process, to visualize, and eventually stop and/or change parameters
on-the-run, may be this could be better to control, for guys who as me,
have slow CPU's

On the other hand, ¿have you seen the approach do

[2017-06-03 06:02] zhongkaifu commented on #34
Hi Andrés

It's really appreciated if you would like to contribute RNNSharp project. :)

I cannot get your inline image for CPU G2020. According information at http://www.cpu-world.com/CPUs/Pentium_Dual-Core/Intel-Pentium%20G2020.html, it seems this CPU doesn't support AVX and AVX2 instructions, so RNNSharp cannot emit SIMD instruction to speed up.

[2017-06-03 17:28] andy-soft commented on #34
Hi Zhongkai Fu

I'll see to get a intel Core i5-3570 ASAP, if the speedup is worth (at
least 2 more cores!) i7 is the same, as hyperthreading does not help too
much, each thread has only half time slot!!!

I am also seeing the new AMD Ryzen 7 chips, but still fear their
compatibility with MS .net technologies for now, there have been some
awkward reports!

One more question
¿do you instruct explic

[2017-06-04 04:14] zhongkaifu commented on #34
I'm using System.Vectors which is a component of .NET core to emit SIMD instruction (AVX and AVX2) for RNNSharp.

If that AMD CPU supports these AVX instructions, RNNSharp can leverage them as well.

[2017-06-06 15:16] Adesun opened #36 "maybe it's time to support CUDA !"
Hi,
   RNNSharp is great for .net developers. but sometimes training time is kinda long.
I found one interesting project [managedCuda](https://github.com/kunzmi/managedCuda) which is complete .net wrapper for the CUDA Driver API. so maybe it's a good idea to merge it into rnnsharp.
best regards!
           Adesun

[2017-06-06 21:13] zhongkaifu commented on #36
Thanks @Adesun

I once slightly modified RNNSharp to apply managedCuda, however, its performance is worse than CPU+SIMD version.  :(

To leverage GPU performance completely, RNNSharp has to have a large design and code modification. It's timing cost and currently, I don't have bandwidth for it.

[2017-06-07 01:42] AvenSun commented on #36
I see. thx.

[2017-06-07 01:42] #36 closed

[2017-07-17 21:14] Julianneaguilar opened #37 "AdvUtils.dll Issue"
'RNNSharpConsole.vshost.exe' (CLR v4.0.30319: RNNSharpConsole.vshost.exe): Loaded 'C:\WINDOWS\Microsoft.Net\assembly\GAC_64\mscorlib\v4.0_4.0.0.0__b77a5c561934e089\mscorlib.dll'. Symbols loaded.
'RNNSharpConsole.vshost.exe' (CLR v4.0.30319: RNNSharpConsole.vshost.exe): Loaded 'C:\WINDOWS\assembly\GAC_MSIL\Microsoft.VisualStudio.HostingProcess.Utilities\14.0.0.0__b03f5f7f11d50a3a\Microsoft.VisualSt

[2017-07-18 04:53] zhongkaifu commented on #37
Did you check out the latest RNNSharp source code and build it ? If so, AdvUtils.dll should be in build output folder.

Thanks
Zhongkai Fu

[2017-07-19 23:50] Julianneaguilar commented on #37
Yes I am. Still the same

[2017-07-23 19:23] Julianneaguilar commented on #37
@zhongkaifu  Yes, I Am. Still the Same

[2017-11-04 15:08] kymo opened #38 "puzzled about function : logsumexp"
hi, i notice that the logsumexp function in your project is not match with what's introduced in wikipedia : https://en.wikipedia.org/wiki/LogSumExp .  Am I mis-understood ?

[2017-11-05 04:14] zhongkaifu commented on #38
Because it's optimized for computer and avoid computing errors when values are too large or small.

[2018-03-23 07:41] Pr34cher opened #39 "A question regarding usage or RNNSharp for a particular problem"
Hello,

I'm wandering whether RNNSharp can be used for the following problem:

I have a sequence of  3-number vectors {[a1, a2, a3], [b1, b2, b3]... [n1, n2, n3]}. and a matching output, which is a vector of 5 numbers [A1, A2, A3, A4, A5]. And my training input/output would be a list of such pairs of sequences, where output always has the same size (5-number vector) while input size varies (number

[2018-04-05 15:41] gen35 opened #40 "NullReferenceException in DropoutLayer"
Decoding crashes when using dropout layer in current code version. Although works in latest demo package release version.

Unhandled Exception: System.NullReferenceException: Object reference not set to an instance of an object.
   at RNNSharp.DropoutLayer.Load(BinaryReader br, LayerType layerType, Boolean forTraining) in D:\RNNSharp-master\RNNSharp\Layers\DropoutLayer.cs:line 174
   at RNNSharp.N

[2018-08-25 00:08] andy-soft commented on #34
Hi there, I just got a CPU with 16 cores and 128Gbytes of RAM. Ready to train hard!!

[2018-08-25 23:47] zhongkaifu commented on #34
Cool!
I recently introduced MKL into Seq2SeqSharp and got a significantly improvement on performance, if you like, you could try it in RNNSharp.

[2018-08-26 00:55] andy-soft commented on #34
Greath, which are the files to download and test it?
Also ¿did you try to make int into service to set this to work as a REST or
something else? (to be consumed from other apps)
BTW I am going to send you some improvements over text2vec soon. (speed and
flexibility)

& + thanks

On Sat, Aug 25, 2018 at 8:47 PM Zhongkai Fu <notifications@github.com>
wrote:

[2018-10-02 03:29] andy-soft commented on #34
I just put to train the sample of English SeqClassif (NER) from your sample 143Mb flat text file, 2.2M words.
I got a 32 core Xeon 3500 server, with 128 Gb Ram, and...
it took >24 hours to reach a mere 0.89% token error, 8.89% seq error. (About 40% of total training time, then I aborted it) I am scared of the unusual time to train those sets....
The binary model file is 1.8Gb long !!
¿Are those no

[2018-11-03 13:20] andy-soft opened #41 "System Total Fail due to double-Number conversion problems for non "es-US" Cultures"
Hi, I trained the sample, for english BIO NER labeler, adn the training was OK
But when running the TEST batch, it fails TOTALLY!
The labels got were absolutely NUTS!

so I started to din inside algorithms, and found a BIG PROBLEM
when you write down the training and model files, and use a "string" as double, in "en-US" culture, the decimal point is a "." while in spanish culture, it is a "," so w

[2019-01-27 16:10] njfm0001 opened #42 "A few questions regarding how to exploit RNNSharp"
Hi,

I highly appreciate your work and thank you very much for providing this model in C#. To add in a bit of context, I will be using your model during my research, and I would like to know as much as possible about how to exploit RNNSharp for NER. I would greatly appreciate if you could answer some of my doubts and questions that I haven't seen enough explained in the README or in other issues w

[2019-02-22 20:45] erotavlas opened #43 "Is there a way to reduce file size of the model?"
Hello,
I found when training the NER sample you have provided in the Demo package, that the model.bin file size is very large, over 1GB.  What exactly is inside this file, and is there any way to reduce the size of it?
Thanks

[2019-02-26 14:35] My-Khan opened #44 "Time Complexity"
Hello Zhong,
I will be very thankful if kindly share its exact time complexity

[2019-04-05 10:00] My-Khan opened #45 "RNNSharp Pseudo code"
Hello Zhong,
I will be very thankful if kindly share its Pseudo code

[2019-05-25 14:29] wolfshow opened #46 "About inference time"
how about the inference time for sentences up to 30 words?